/**
 * Styles for the team block.
 */
.team {
    // Selector styles
    // TODO: add code
    padding: 50px 0 100px;
    background-color: $color-white-darken-1;
    color: $color-black;

    @include breakpoint-down(md) {
        padding: $gutter*4 0;
    }

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
    &__wrapper {
        position: relative;
        margin: 0 (-$gutter);

        @media screen and (max-width: 1400px) {
            margin: 0;
            padding: 0 30px;
        }

        @include breakpoint-down(md) {
            padding: 0;
        }
    }

    &__title {
        padding-bottom: 65px;
    }

    &__navigation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 38px;
        fill: currentColor;
        transition: ease .3s;
        cursor: pointer;

        &:hover {
            opacity: $opacity;
        }

        &--next {
            right: -60px;
            transform: translateX(100%);

            @media screen and (max-width: 1400px){
                right: 0;
                transform: none;
            }
        }

        &--prev {
            left: -60px;
            transform: translateX(-100%);

            @media screen and (max-width: 1400px){
                left: 0;
                transform: none;
            }
        }

        @include breakpoint-down(md) {
            display: none !important;
        }
    }

    @include breakpoint-down(md) {

        &__pagination {
            text-align: center;
            position: absolute;
            bottom: -45px;
            left: 0;
            width: 100%;
    
            & > li {
                display: inline-block;
                font-size: 0;
                line-height: 0;
                margin: 0 3px;
    
                & > button {
                    padding: 0;
                    background: none;
                    border: $border-width-default $color-black $border-style-default;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    color: transparent;
                    outline: none !important;
                    cursor: pointer;
    
                    &:hover {
                        opacity: $opacity;
                    }
                }
    
                &.slick-active > button {
                    background-color: $color-black;
                }
            }
        }
    }

    &__employee {
        text-align: center;
        padding: 0 $gutter;
    }

    &__picture {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        border: 13px $border-style-default $color-white-darken-1;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%,-50%);
        object-fit: cover;
    }

    &__panel {
        padding-top: 150px;
        padding-bottom: $gutter*3;
        margin-top: -125px;
        background-color: $color-absolute-white;
    }

    &__name {
        color: $color-primary;
        font-family: $font-family-proxima-nova;
        font-size: $font-size-heading;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    &__position {
        color: $color-black;
        font-size: $font-size-heading;
        font-style: italic;
    }

    &__footer {
        padding: 20px 0;
        background-color: $color-primary;
    }
}
