/**
 * Styles for the about block.
 */
.about {
    // Selector styles
    // TODO: add code
    padding: 120px 0;
    background-color: $color-white-darken-1;

    @include breakpoint-down(md) {
        padding: $gutter*4 0;
    }

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
    &__panel {
        position: relative;

        @include shadow();
    }

    &__title {
        position: absolute;
        z-index: 1;

        @include center();

        top: 150px;
        color: $color-white;
    }

    &__img {
        display: block;
    
        @include breakpoint-down(sm) {
            object-fit: cover;
            object-position: bottom;
            width: 100%;
            height: 100%;
            max-height: 50vh;
        }
    }

    &__content {
        padding-top: 40px;
        color: $color-black;

        @include breakpoint-down(md) {
            padding-top: 0;
        }
    }

    &__text {
        margin: 1.4em 0;

        b {
            font-weight: $font-weight-bold;
        }

        i {
            font-style: italic;
        }

        @include breakpoint-down(md) {
            &:first-child {
                margin-top: 0;
            }
        }

        @include breakpoint-down(sm) {
            &:first-child {
                margin-top: 1.4em;
            }
        }
    }
    
    &__btn {
        text-align: center;
        padding-top: 40px;

        @include breakpoint-down(sm) {
            padding-top: 0;
        }
    }
}
