extends ../layouts/base.pug

//- TODO: include page-specific block templates
include ../../blocks/header/header.pug
include ../../blocks/social/social.pug
include ../../blocks/nav/nav.pug
include ../../blocks/logo/logo.pug
include ../../blocks/search/search.pug

block page
    //- TODO: add code
    +header(data)
