//-
    name: social
    description: Markup for the social block
    arguments:
        - {object} props - block properties

mixin social(data = {})
    ul.social&attributes(attributes)
        each item in data
            li.social__item
                a(href=item.link).social__link
                    i(class= `fa-${item.name}`).fab
