/**
 * Styles for the title block.
 */
.title {
    // Selector styles
    // TODO: add code
    text-align: center;
    color: currentColor;
    fill: currentColor;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
    &__icon {
        fill: currentColor;

        max-width: 62px;
        max-height: 62px;
    }

    &__title {
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: $font-size-title;
        font-family: $font-family-proxima-nova;

        &--small {
            font-size: $font-size-heading;
            font-family: $font-family-pt-sans;
        }
    }

    &__description {
        font-style: italic;
    }
}
