//-
    name: btn
    description: Markup for the btn block
    arguments:
        - {object} props - block properties

mixin btn(data = {}, mod)
    a(href=data.link, class= mod ? `btn--${mod}` : '').btn&attributes(attributes)!= data.text
