/**
 * Styles for the logo block.
 */
.logo {
    // Selector styles
    // TODO: add code
    fill: $color-white;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // Bem modifiers
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__link {
        max-width: 100%;
        display: block;
    }

    &__img {
        max-width: 100%;
        max-height: 54px;
    }
}
