/**
 * Styles for the header block.
 */
.header {
    // Selector styles
    // TODO: add code
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: $gutter * 2 + 5px 0;
    transition: ease .3s background-color;

    @include breakpoint-down(xs) {
        padding: $gutter 0;
    }
    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
    &--scrolled {
        backdrop-filter: blur(5px);
        background-color: transparentize($color: $color-primary, $amount: 0.18);
    }
}
