extends ../layouts/base.pug

//- TODO: include page-specific block templates

block page
    //- TODO: add code
    +header(data)
    +bigScreen(data.bigScreen)
    +about(data.aboutUs)
    +services(data.services)
    +works(data.works)
    +team(data.team)