/**
 * Styles for the contact block.
 */
.contact {
    // Selector styles
    // TODO: add code
    position: relative;

    @include shadow();

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
    &__wrapper {
        position: relative;
        z-index: 2;
    }

    &__map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // z-index: 1;
    }
}
