html {
    font-family: 'Lato', sans-serif;
}
body {
    /* TODO: comment this on prod */
    background-image: url(../Foliac.jpg);
    background-position: top;
    min-height: 101vh;

    font-family: inherit;
}

.header {
    width: 100%;
    padding-top: 36px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.logo {
    float: left;
}

.nav {
    float: right;
    padding-top: 38px;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {
    display: inline-block;
}

.nav__item:not(:last-child):after {
    color: white;
    content: '';
    display: inline-block;
    background-image: url(../img/sep.png);
    width: 5px;
    height: 18px;
    margin: 0 52px;
    transform: translate(3px,4px);
    opacity: .3;
}

.nav__link {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.nav__link:hover {
    text-decoration: underline;
}

.section {
    padding: 50px 0;
}
.section--hero {
    padding-top: 270px;
    padding-bottom: 180px;
    background-image: url(../img/computer.jpg);
}
.section--filled {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
}
.section--filled > * {
    position: relative;
    z-index: 1;
}
.section--filled:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    background-color: #464f53;
    opacity: .75;
}
.section--portfolio {
    padding-top: 92px;
    padding-bottom: 58px;
    background-color: white;
}
.section--about {
    background-image: url(../img/men-computer.jpg);
    padding-top: 57px;
    padding-bottom: 91px;
}
.hero {
    text-align: center;
}

h1 {
    font-size: 46px;
    font-family: 'Big John';
    margin: 1rem 0;
}

h2 {
    margin: 1rem 0;
    font-size: 30px;
    font-family: 'Slim Joe';
}

h3 {
    line-height: 30px;
    font-size: 30px;
    font-weight: 700;
}

h4 {
    line-height: 32px;
    font-size: 22px;
    font-weight: 400;
}

.mb-43 {
    margin-bottom: 43px;
}

.btn {
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
    border: 2px solid currentColor;
    display: inline-block;
    padding: 8px 19px;
    border-radius: 3px;
    letter-spacing: -1.2px;
}
.btn:hover {
    color: white;
}
.btn--green {
    color: #48bf72;
}
.btn--green:hover {
    border-color: #48bf72;
    background-color: #48bf72;
}
.btn--dark {
    color: #3c4955;
}
.btn--dark:hover {
    border-color: #3c4955;
    background-color: #3c4955;
}
.portfolio__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
}
.portfolio__category {
    margin: 0 7px;
    display: inline-block;
}
.portfolio__link {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #eaeaea;
    border-radius: 2px;
    color: #3c4955;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 13px;
}
.portfolio__link--active, .portfolio__link:hover {
    background-color: #48bf72;
    color: white;
}
.portfolio__img {
    display: block;
    max-width: 100%;
}
.portfolio__item {
    margin-bottom: 40px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.portfolio__hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(72, 191, 114, 0.9);
    color: white;
    text-align: center;
    display: none;
}
.portfolio__item:hover .portfolio__hover {
    display: block;
}
.portfolio__text {
    vertical-align: middle;
    display: inline-block;
}
/* .portfolio__hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(72, 191, 114, 0);
    color: white;
    text-align: center;
    display: block;
    transition: ease .3s;
}
.portfolio__text {
    vertical-align: middle;
    display: inline-block;
    transform: translateY(-200px);
    opacity: 0;
    transition: ease .3s;
}
.portfolio__item:hover .portfolio__hover {
    background-color: rgba(72, 191, 114, 0.9);
}
.portfolio__item:hover .portfolio__text {
    transform: translateY(0);
    opacity: 1;
} */
.portfolio__hover:after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: "";
    vertical-align: middle;
}
.portfolio__text h3 {
    margin-bottom: 0;
    margin-top: 6px;
}
.portfolio__text p {
    margin-top: 12px;
}

.about h3 {
    margin-bottom: 5px;
}
.about h4 {
    margin-top: 0;
}
.about p {
    line-height: 25px;
    margin-bottom: 38px;
}