/**
 * Styles for the nav block.
 */
.nav {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        @include breakpoint-down(md) {
            display: none;
            position: fixed;
            padding-top: 142px;
            left: 0;
            top: 0;
            background-color: $color-primary;
            width: 100%;
        }

        @include breakpoint-down(xs) {
            padding-top: 102px;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-right: $gutter*2;
        }

        @include breakpoint-down(md) {
            margin: 0 !important;
            display: block;
        }
    }

    &__link {
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: $font-size-heading;

        &:hover {
            color: $color-black;
        }

        @include breakpoint-down(md) {
            display: block;
            padding: $gutter;
            text-align: center;
            border-top: 1px solid $color-white;
        }
    }

    @include breakpoint-down(md) {

        &__burger {
            width: 42px;
            height: 42px;
            padding: 0;
            margin: 0;
            background: none;
            border: none;
            font-size: 42px;
            color: $color-white;
            outline: none;
            z-index: 2;
            position: relative;

            svg {
                fill: currentColor;
                pointer-events: none;
            }
        }
    }
}
