//-
    name: nav
    description: Markup for the nav block
    arguments:
        - {object} props - block properties

mixin nav(data = {})
    .nav&attributes(attributes)
        button.nav__burger.d-lg-none
            i.fas.fa-bars
            i.fas.fa-times.d-none
        ul.nav__list.d-none.d-lg-flex
            each item in data
                li.nav__item
                    a(href=item.link).nav__link= item.text
